@page
@model HikeSharingUI.Pages.ParksModel
@{
}

<h2>List of Popular Area Parks</h2>



<ul class="list-unstyled">
    @foreach (var park in Model.Model)
    {
        <li class="alert alert-info">
            <h3>@park.Description</h3>
            <p>The @park.Description is at @park.Address. It is Open @park.OpenInformation.</p>
        </li>
    }
</ul>